<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/result" method="post">
      <p>
        Put it here bub<input type="text" name="user_input" /><input
          type="submit"
          id="submit"
        />
      </p>
    </form>
  </body>
</html>
